---
layout: layouts/base.njk
---
<div class="left">
  <div class="carousel">
    {% for project in collections.spotlight %}
    <a href="{{ project.url }}" class="carousel-slide {% if loop.first %}active{% endif %}">
      <img src="{{ project.data.headerimage }}" alt="{{ project.data.title }}" class="carousel-img" />
      <div class="carousel-caption">
        <h2>{{ project.data.title }}</h2>
        <span class="year">{{ project.data.date }}</span>
        <p>{{ project.data.description }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <button class="carousel-btn prev" onclick="moveCarousel(-1)">🡨</button>
  <button class="carousel-btn next" onclick="moveCarousel(1)">🡪</button>
</div>
<div class="right">
  <h1>{{ title }}</h1>
  <p>{{ bio }}</p>
  <br>
  {{ content | safe }}
</div>